p {
    margin: 0px;
    padding: 0px;
}


.mainContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 95px;
}

.welcomeText {
    /* font-family: 'Figtree'; */
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: -0.02em;   
    color: #111822;
    opacity: 0.5;
}

.infoText {
    /* font-family: 'Figtree'; */
    width: 55%;
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 67px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #111822;
    margin: auto;
}

.blueText {
    color: #077BFF;
}

.greenText {
    color: #16D113;
}

.infoText2 {
    width: 35%;
    margin: auto;
    /* font-family: 'Figtree'; */
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    letter-spacing: -0.02em;

    color: #111822;
    opacity: 0.5;
    margin-top: 17px;
    margin-bottom: 26px;
}

.contentBtn {
    width: 222px;
    height: 47px;
    background: #077BFF;
    border-radius: 10px;
    border: none;
    outline: none;

    font-family: 'Figtree';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    margin: auto;
}

.ratingDiv {
    margin-top: 22px;
    margin-bottom: 54px;
    width: 222px;
    height: 90px;
    background: rgba(0, 182, 122, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ratingText {
    display: flex;

    /* font-family: 'Figtree'; */
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    /* line-height: 19px; */
    letter-spacing: -0.02em;
    color: #111822;  
    margin-top: 6px;
}

.star {
    width: 23.23px;
    height: 22.08px;
}

.divider {
    width: 36vw;
    border: 1px solid #D9D8D6;
}

.boxes {
    width: 62%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16.16px;
    margin-top: 36.36px;

}
.boxes > div {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #D4EAE8;
    border-radius: 5px;
    padding: 0px 16px 0px 36px;
    gap: 16px;
    height: 95px;
}

@media (760px <= width <= 1400px) {
    .boxes > div {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #D4EAE8;
        border-radius: 5px;
        padding: 0px 16px 0px 36px;
        gap: 16px;
        height: 95px;
    }
}
.boxes > div:nth-child(1) {
    background: #EEFEFD;
    border: 1px solid #D4EAE8;
}
.boxes > div:nth-child(2) {
    background: #EEFEF0;
    border: 1px solid #CEE5DF;
}
.boxes > div:nth-child(3) {
    background: #EFFAF6;
    border: 1px solid #CEDAC2;
}
.boxes > div:nth-child(4) {
    background: #F0F7FF;
    border: 1px solid #C7DEE6;
}

.boxImg {
    position: relative;
}

.boxText {
    text-align: start;
}

.rectangle {
    width: 40px;
    height: 40px;
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
    top: 0;
    left: 0;
}

.rect1 {
    position: absolute;
    top: 25%;
    left: 25%;
}

@media (300px <= width <= 760px) {

    .mainContainer {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding-top: 55px;
        margin: 0 1.5rem;
    }
    .welcomeText {
        /* font-family: 'Figtree'; */
        /* font-family: 'Figtree'; */
        font-style: normal;
        font-weight: 600;
        font-size: 10.339px;
        line-height: 24px;
        text-align: center;
        letter-spacing: -0.02em;     
        color: #111822;   
        opacity: 0.5;
    }

    .infoText {
        /* font-family: 'Figtree'; */
        width: 95%;
        /* font-family: 'Figtree'; */
        font-style: normal;
        font-weight: 600;
        font-size: 30.1864px;
        line-height: 35px;
        text-align: center;
        letter-spacing: -0.02em;
        color: #111822;
        
    }

    .infoText2 {
        /* font-family: 'Figtree'; */
        width: 80%;
        font-style: normal;
        font-weight: 500;
        font-size: 10.9661px;
        line-height: 17px;
        text-align: center;
        letter-spacing: -0.02em;
        
        color: #111822;
        
        opacity: 0.5;
    }

    .boxes {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 13.16px;
        margin-top: 36.36px;
    }
    .boxes > div {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #D4EAE8;
        border-radius: 5px;
        width: 90%;
        height: 45.28px;
        gap: 16px;
        padding: 7px;
    }

    .rectangle {
        width: 30px;
        height: 30px;
        position: relative;
        display: flex;
        align-content: center;
        justify-content: center;
        top: 0;
        left: 0;
    }

    .rect1 {
        position: absolute;
        top: 15%;
        left: 15%;
        width: 20px;
        height: 20px;
    }

    .boxText {
        /* font-family: 'Figtree'; */
        font-style: normal;
        font-weight: 400;
        font-size: 10.551px;
        line-height: 15px;
        letter-spacing: -0.02em;
        
        color: #111822;
    }

    .divider {
        width: 100%;
    }
  }