.navbarContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.innerContainer {
    width: 100%;
    max-width: 1192px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #D9D8D6;
    padding: 10px;
}

.innerLeft {
    display: flex;
    align-items: center;
    /* width: 60%; */
    /* justify-content: space-between; */
}

.logoDiv {
    display: flex;
    margin-right: 31px;
}

.logo {
    width: 33px;
    height: 33px;
    margin-right: 8.76px;
}

.logoText {
    /* font-family: 'Figtree'; */
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: -0.02em;
    color: #111822;
}

.navContents {
    display: flex;
    align-items: center;
    gap: 30px;

}

.navContents > span {
    /* font-family: 'Figtree'; */
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.02em;
    color: #111822;
    /* border: 1px solid red; */
}

.arrow {
    margin-left: 8px;
    width: 9.5px;
    height: 5.5px;
}

.innerRight {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* outline: 1px solid red; */
    width: 30%;
}

.discordDiv {
    display: flex;
    align-content: flex-end;
    /* outline: 1px solid red; */
}

.discordImg {
    height: 16px;
    width: 16px;
    margin-right: 5.67px;
}

.discordText {
    /* font-family: 'Figtree'; */
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.02em;
    color: #5865F2;
}

.loginDiv {
    display: flex;
    align-items: center;
    padding-left: 25px;   
    height: 31.5px;
    border-left: 1px solid #D9D8D6;
}

.burgerMenu {
    display: none;
}

.homeBtn {
    width: 127px;
    height: 39px;
    background: #077BFF;
    border-radius: 5px;
    border: none;
    outline: none;

    /* font-family: 'Figtree'; */
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    margin-left: 32px;
    cursor: pointer;
}

@media (300px <= width <= 760px) {

    .navbarContainer {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px 1rem;
    }
    
    .innerContainer {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #D9D8D6;
        padding: 10px 0px;
    }
    .navContents {
      display: none;
    }
    .discordDiv {
      display: none;
    }

    .logoDiv {
        display: flex;
        align-items: center;
        margin-right: 21px;
    }
    .logo {
        width: 23px;
        height: 23px;
        margin-right: 8.76px;
    }
    
    .logoText {
        /* font-family: 'Figtree'; */
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: -0.02em;
        color: #111822;
    }

    .innerRight {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        /* outline: 1px solid red; */
        width: 45%;
    }

    .loginDiv {
        display: flex;
        align-items: center;
        padding-left: 25px;   
        height: 31.5px;
        border-left: none;
    }

    .loginDiv > span {
        display: none;
    }

    .homeBtn {
        width: 95px;
        height: 29px;
        background: #077BFF;
        border-radius: 5px;
        border: none;
        outline: none;
    
        /* font-family: 'Figtree'; */
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        letter-spacing: -0.02em;
        color: #FFFFFF;
        cursor: pointer;
        margin: 0px 8px 0px 0px;
    }

    .burgerMenu {
        display: flex;
        height: 29px;
        width: 29px;
        background: rgba(7, 123, 255, 0.25);
        border-radius: 8.52px;
        align-items: center;
        justify-content: center;
    }

    .burgerMenu > img {
        width: 17px;
        height: 17px;
    }
    
}
