p, h2 {
   padding: 0px; 
   margin: 0px;
}


.planContainer {
    padding: 180px 0px;
    width: 40%;
    margin: auto;
}


.headingContainer > h2{
    /* font-family: 'Figtree'; */
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #111822;
}

.headingContainer > p {
    margin-top: 10px;
    width: 55%;
    margin: auto;
    /* font-family: 'Figtree'; */
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #111822;
    opacity: 0.5;
}

.headingContainer > .customerText {
    width: 40%;
}

.blueText {
    color: #077BFF;
}

.plansDiv {
    display: flex;
    margin: auto;
    justify-content: center;
    margin-top: 99px;
    gap: 20px;
}

.plansDivOne {
    padding: 26px;
    background: rgba(30, 30, 30, 0.01);
    border: 1px solid rgba(30, 30, 30, 0.1);
    border-radius: 5px;
    height: 376px;
}

.plansDivTwo {
    padding: 26px;
    background: rgba(30, 30, 30, 0.01);
    border: 1px solid rgba(30, 30, 30, 0.1);
    border-radius: 5px;
}


.plansDivBorder {
    border: 1px solid #16D113;
}
.subHeading {
    /* font-family: 'Figtree'; */
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.02em;   
    color: #111822;
}

.plansHeaderPriceText {
    /* font-family: 'Figtree'; */
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.02em;
    color: #111822;
}

.plansHeaderDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.plansHeaderDiv:nth-child(1) {
    text-align: start;
    gap: 8px;
}

.hrLine {
    opacity: 0.5;
    border: 1px solid #D9D8D6;
}

.plansHeaderDiv:nth-child(1) > p {
    /* font-family: 'Figtree'; */
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.02em;  
    color: #111822;
    opacity: 0.5;
}

.plansHeaderTextDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.plansHeaderText {
    /* font-family: 'Figtree'; */
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: right;
    letter-spacing: -0.02em;
}

.plansDetail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.plansDetail > p {
    /* font-family: 'Figtree'; */
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.02em;
    color: #111822; 
    opacity: 0.5;
}

.plansDetail > ul > li {
    /* font-family: 'Figtree'; */
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.02em;
    color: #111822;
    opacity: 0.8;
    margin-bottom: 8px;
}

.plansDetail > ul > li > img {
    width: 12.5px;
    height: 8.5px;   
    margin-right: 8px;
}

.plansDetail > ul  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: start;
    margin-top: 10px;
}

.blueBtn {
    width: 295px;
    height: 47px;
    background: #077BFF;
    border-radius: 5px;
    border: none;
    outline: none;
    margin-top: 8px;
    /* font-family: 'Figtree'; */
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.02em; 
    color: #FFFFFF;
}

.greenText {
    color: #16D113;
}

.greenBtn {
    width: 295px;
    height: 47px;
    border-radius: 5px;
    border: none;
    outline: none;
    margin-top: 8px;
    /* font-family: 'Figtree'; */
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.02em; 
    color: #FFFFFF;
    background: #2CE617;
}

.bestseller {
    background: rgba(30, 30, 30, 0.01);
    border: 1px solid rgba(30, 30, 30, 0.1);
    border-radius: 5px;
    width: 87%;
    margin: auto;
    margin-top: 21px;
    padding: 21px 28px;
    display: flex;
    align-items: center;
    
}

.bestsellerDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
}

.heading {
    /* font-family: 'Figtree'; */
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: #111822;
}

.bestSellerText {
    /* font-family: 'Figtree'; */
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.02em;   
    color: #111822;   
    opacity: 0.5;
}

.bestSellerSecondDiv {
    text-align: start;
    width: 60%;
    margin-left: 34px;
}

.bestSellerSecondDiv > p {
    /* font-family: 'Figtree'; */
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.02em;  
    color: #111822;  
    opacity: 0.5;
}

.bestSellerSecondDiv > ul {
    display: grid;
    list-style-type: none;
    margin: 0;
    padding: 0;
    grid-template-columns: repeat(2, 1fr);
}

.bestSellerSecondDiv > ul > li {
    margin-top: 8px;
    /* font-family: 'Figtree'; */
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.02em;   
    color: #111822;  
    opacity: 0.8;  
}

.bestSellerSecondDiv > ul > li > img {
    width: 12.5px;
    height: 8.5px;   
    margin-right: 8px;
}

.rightArrow {
    margin-left: 7.75px;
    width: 13px;
    height: 9.5px;
}


/* RAting div */

.ratingContainer {
    width: 62%;
    margin: auto;
}

.ratingMainDiv {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
    gap: 17px;
    margin-top: 34px;
}

.ratingDiv {
    padding: 25px;
    background: rgba(30, 30, 30, 0.01);
    border: 1px solid rgba(22, 209, 19, 0.5);
    border-radius: 5px;
    text-align: start;
}

p, h5 {
    padding: 0px;
    margin: 0px;
}

.profileDetails {
    display: flex;
    align-items: center;
}

.starImg {
    margin-bottom: 12px;
}

.reviewText{
    margin-bottom: 12px;
}


.blogContainer {
    width: 58%;
    background: linear-gradient(180deg, #F7FAFF 0%, rgba(255, 255, 255, 0) 100%);
    border: 1px solid rgba(30, 30, 30, 0.1);
    border-radius: 5px;
    margin: auto;
    margin-top: 250px;
    padding: 65px 40px 35px 40px;
    margin-bottom: 120px;
}

.blogText {
    /* font-family: 'Figtree'; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.02em;   
    color: #077BFF;    
}

.blogText > img {

}

.blogMainDiv {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin-top: 40px;
}

.blogDiv {
    background: rgba(7, 123, 255, 0.1);
    border: 1px solid rgba(7, 123, 255, 0.5);
    border-radius: 5px;
    height: 221px;
}

.blogTextDiv {
    margin-top: 11px;
    text-align: start;
}

.blogTextDiv > h5 {
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.02em;    
    color: #111822;
}

.blogTextDiv > p {
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.02em;   
    color: #111822;   
    opacity: 0.5;
}

.profileImg {
    margin-right: 5px;
}

@media (300px <= width <= 760px) {
    .planContainer{
        margin: 0rem 1.5rem;
        padding: 100px 0px;
        width: 87%;
    }

    .rightArrow {
        width: 10px;
        height: 10px;
    }

    .headingContainer > h2{
        font-family: 'Figtree';
        width: 100%;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 33px;
        text-align: center;
        letter-spacing: -0.02em;
        color: #111822;
    }
    
    .headingContainer > p {
        margin-top: 10px;
        width: 85%;
        margin: auto;
        /* font-family: 'Figtree'; */
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        letter-spacing: -0.02em;
        color: #111822;
        opacity: 0.5;
    }
    .plansDiv {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: auto;
        justify-content: center;
        margin-top: 49px;
        gap: 20px;
        /* border: 1px solid red; */
    }
    
    .plansDivOne {
        width: 70%;
        margin: auto;
        padding: 26px;
        background: rgba(30, 30, 30, 0.01);
        border: 1px solid rgba(30, 30, 30, 0.1);
        border-radius: 5px;
        height: 376px;
    }
    
    .plansDivTwo {
        width: 70%;
        margin: auto;
        padding: 26px;
        background: rgba(30, 30, 30, 0.01);
        border: 1px solid rgba(30, 30, 30, 0.1);
        border-radius: 5px;
    }

    .blueBtn {
        width: 100%;
        height: 47px;
        background: #077BFF;
        border-radius: 5px;
        border: none;
        outline: none;
        margin-top: 8px;
        /* font-family: 'Figtree'; */
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: -0.02em; 
        color: #FFFFFF;
    }

    
    .greenBtn {
        width: 100%;
        height: 47px;
        border-radius: 5px;
        border: none;
        outline: none;
        margin-top: 8px;
        /* font-family: 'Figtree'; */
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: -0.02em; 
        color: #FFFFFF;
        background: #2CE617;
    }

    .bestseller {
        background: rgba(30, 30, 30, 0.01);
        border: 1px solid rgba(30, 30, 30, 0.1);
        border-radius: 5px;
        width: 89%;
        /* margin: auto; */
        margin-top: 21px;
        padding: 11px 18px;
        display: flex;
        align-items: center;
    }

    .bestsellerDiv {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 8px;
    }
    
    .heading {
        /* font-family: 'Figtree'; */
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 14px;
        letter-spacing: -0.02em;
        color: #111822;
    }
    
    .bestSellerText {
        /* font-family: 'Figtree'; */
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 12px;
        letter-spacing: -0.02em;   
        color: #111822;   
        opacity: 0.5;
    }
    
    .bestsellerImg {
        width: 25px;
        height: 25px;
    }

    .bestSellerSecondDiv {
        text-align: start;
        width: 60%;
        margin-left: 34px;
    }
    
    .bestSellerSecondDiv > p {
        /* font-family: 'Figtree'; */
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 19px;
        letter-spacing: -0.02em;  
        color: #111822;  
        opacity: 0.5;
    }
    
    .bestSellerSecondDiv > ul {
        display: grid;
        list-style-type: none;
        margin: 0;
        padding: 0;
        grid-template-columns: repeat(2, 1fr);
    }
    
    .bestSellerSecondDiv > ul > li {
        margin-top: 8px;
        /* font-family: 'Figtree'; */
        font-style: normal;
        font-weight: 400;
        font-size: 8px;
        line-height: 12px;
        letter-spacing: -0.02em;   
        color: #111822;  
        opacity: 0.8;  
    }
    
    .bestSellerSecondDiv > ul > li > img {
        width: 8.5px;
        height: 8.5px;   
        margin-right: 8px;
    }

    .ratingContainer {
        width: 87%;
        margin: auto;
    }

    .ratingMainDiv {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        margin-top: 34px;
    }
    
    .ratingDiv {
        padding: 15px;
        background: rgba(30, 30, 30, 0.01);
        border: 1px solid rgba(22, 209, 19, 0.5);
        border-radius: 5px;
        text-align: start;
    }

    .blogContainer {
        width: 100%;
        background: linear-gradient(180deg, #F7FAFF 0%, rgba(255, 255, 255, 0) 100%);
        border: 1px solid rgba(30, 30, 30, 0.1);
        border-radius: 5px;
        margin-top: 70px;
        padding: 35px 0px;
    }

    .blogText {
        /* font-family: 'Figtree'; */
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 22px;
        text-align: center;
        letter-spacing: -0.02em;   
        color: #077BFF;    
    }
    
    .blogMainDiv {
        width: 86%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        margin-top: 40px;
    }
    
    .blogDiv {
        background: rgba(7, 123, 255, 0.1);
        border: 1px solid rgba(7, 123, 255, 0.5);
        border-radius: 5px;
        width: 100%;
        height: 100px;
    }
    
    .blogTextDiv > h5 {
        font-family: 'Figtree';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.02em;    
        color: #111822;
    }
    
    .blogTextDiv > p {
        font-family: 'Figtree';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 19px;
        letter-spacing: -0.02em;   
        color: #111822;   
        opacity: 0.5;
    }
}


