p {
    padding: 0px;
    margin: 0px;
}

h3 {
    padding: 0px;
    margin: 0px;
}

.proxyContainer {
    margin-top: 138.36px;
    padding: 115px 0px;
    background: #0566D4;
    width: 100%;
}

.innercontainer {
    width: 100%;
    max-width: 1186px;
    margin: auto;
}

.proxyHeading {
    /* font-family: 'Figtree'; */
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

.proxySubText {
    width: 30vw;
    margin: auto;
    /* font-family: 'Figtree'; */
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    opacity: 0.5;
    margin-top: 10px;
}

.innerBottom {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    margin-top: 30px;
}

.innerBottom > div {
    /* width: 286px;
    height: 160px; */
    background: rgba(255, 255, 255, 0.03);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 5px;
    text-align: start;
    padding: 25px;
}

.innerBottomDiv > h3 {
    /* font-family: 'Figtree'; */
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

.innerBottomDiv > p {
    /* font-family: 'Figtree'; */
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    opacity: 0.5;
    margin-top: 8px;
}


/*  */

p {
    margin: 0px;
    padding: 0px;
}

.proxyContainerMain {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 95px;
}

.infoText {
    width: 45vw;
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 67px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #111822;
    margin: auto;
}


.mainContent > textarea {
    width: 45vw;
    height: 169px;
    background: rgba(217, 216, 214, 0.25);
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.btnDiv {
    width: 45vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btnDiv > button {
    width: 223px;
    height: 39px;
    left: 606px;
    top: 611px;
    background: #077BFF;
    border-radius: 5px;

    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.02em;
    
    color: #FFFFFF;
    margin-top: 21px;
}

.policyText {
    width: 40%;
    text-align: start;
    /* font-family: 'Figtree'; */
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.02em;
    color: #111822;
}

.tableDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 41px;
}

table {
    width: 47vw;
    background: rgba(217, 216, 214, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin-top: 17px;
}

thead {
    width: 25%;
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.25);
}

td {
    /* font-family: 'Figtree'; */
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    
    letter-spacing: -0.02em;
    
    color: #111822;
}

.checker {
    margin-top: 40px;
    display: flex;
}

.checker > p {
    margin-right: 15px;
    /* font-family: 'Figtree'; */
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    
    letter-spacing: -0.02em;
    
    color: #111822;
}

